numpy 
pandas 
tensorflow==2.9.2
matplotlib
seaborn
#nltk --> use conda install -c conda-forge nltk_data --> if nltk will note work
regex
scikit-learn
from-root
google-cloud-storage
fastapi==0.78.0
uvicorn==0.18.3
Jinja2==3.1.2
-e . #will look for setup.py
